@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

/*
アクセントカラーは天色(#0086CC)です。
*/

.center-blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 65em;
}

.image-center{
    display: block;
    text-align: center;
    margin: auto;
}

.head {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.title{
    color: #e2e2e2;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: solid 5px #e2e2e2;
}

.sub-title{
    font-size: 24px;
    font-weight: bold;
}

.main{
    font-size: 18px;
}

.flat-button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background:  #0086CC;
    border-radius: 3px;
    transition: .4s;
}

.flat-button:hover {
    background: #00a6ff;
    color:  white;
}

a {
    color: #0086CC;
    display: inline-block;
    text-decoration: underline #0086CC;
}

body{
    font-family:'Noto Sans Japanese', sans-serif;
    background-color: #111111;
    color:white;
    line-height: 2;
}